// import files 
//@import 'stylesubpage.scss';

// Media query
$mobile-large: 320px;
$tablet-small: 480px;
$tablet-large: 768px;
$screen-small: 1024px;

// Colors
$white: #fff;
$lightgrey:#7a7a7a;
$black:#000;

//keyframes
/* Home Page*/
@keyframes homeslide-up {
  from {
    margin-top: 7%;
    opacity:0;
  }

  to {
    margin-top: 0%;
    opacity:1;
  }
}
@keyframes typing {
  from {
    width:0;
    opacity:0;  
  }
  to {
    width: 16.3em;
    opacity:1;  
  }
}
/* White Section*/
@keyframes slideup {
  from {
    margin-top: 100%;
    width: 100%; 
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
/* Black Box*/
@keyframes slidein {
  from {
    margin-left: 40%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slideintwo {
  from {
    margin-left: 40%;
    width: 200%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body{
    width: 100%;
    height: 100%;
}
h1{
    text-decoration: none;
}
a{
    text-decoration: none;
}
//320 size
@media screen and (min-width: $mobile-large) {

#wrapper{
    width: 100%;
    height: 700px;
    margin-top: -20px;
    background-color: blue;
}
  
#sideView{
    list-style: none;
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    color: #000;
    background-color: #fff;
    display:block;
    padding: 30px 0px 0px 30px;
    text-align: center;
    .navHolder{
        width: 123px;
        height: auto;
        background-color: $white;
        #logoHolder{
            width: 100%;
            height: auto;
            padding: 18px 0px;
        }
        #navi{
            width: 100%;
            list-style: none;
            padding: 0px 0px 0px 0px;
            text-align: center;
            li a{
                font-family: 'Ubuntu', sans-serif;
                text-transform: uppercase;
                padding: 10px 0px;
                line-height: 49px;
                color: $black;
                font-size: 13px;
                letter-spacing: 0.02em;
                font-weight: bold;
                text-align: center;
                   
            }
            li a:hover{
                text-decoration: none;
                background-color: #AD310B;
                -webkit-transition: background-color 1000ms linear;
                -moz-transition: background-color 1000ms linear;
                -o-transition: background-color 1000ms linear;
                -ms-transition: background-color 1000ms linear;
                transition: background-color 1000ms linear;
            }
        }
    }
    .nav-item{
//        background-color: aqua;
        width: 123px;
    }
}
   
#sideView .nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    background-color: green;
}
    
label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    background-color: red;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}
    
/* to get the menu to work */
.nav-trigger:checked + label {
    left: 215px;
    background-color: white;
}

.nav-trigger:checked ~ .mainView {
    left: 200px;
    box-shadow: none;
    background-color: blue;
}
.nav-trigger + label, .mainView {
    transition: left 0.2s;
    background-color: blue;
}
.logoTitle h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-align: center;
    color:$black;
    text-decoration: none;
        
}    
//.logoTitle h1:hover{
//    font-family: 'Ubuntu', sans-serif;
//    font-size: 2em;
//    font-weight: 700;
//    letter-spacing: .05em;
//    text-transform: uppercase;
//    text-align: center;
//    text-decoration: none;
//    color:#723a19;
//}

li a{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    padding: 10px 0px;
    line-height: 49px;
    color: $black;
    font-size: 13px;
    letter-spacing: 0.02em;
    font-weight: bold;
    text-align: center;
}
li a:hover{
    text-decoration: none;
    background-color: #AD310B;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}    
#navigation{
    display:none;
}
/* End of the Navigation Section */
/* End of the Navigation Section */ 

/* Main website */     
.mainView{
    width: 100%;
    height: 700px;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 0em;
    background-image: linear-gradient(135deg, 
                      rgb(254,255,255) 0%,
                      rgb(221,241,249) 35%,
                      rgb(160,216,239) 100%);
    background-size: 200%;    
}    
//#sideView{
//    width:100%;
//    height:auto;
//}
//#mainView{
//    width:100%;
//    height:555px;
//    background-image: url("../img/light.jpeg");
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//    background-size: cover;
//}
    
#containerMain{
    width:100%;
    min-height: 100%;
    padding: 4em;    
    background-image: url("../img/light.jpeg");
    background-position: center ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
    #toptextHolder{
        width: 100%;
        height: 70px;
        position: relative;
        /* left: 4px; */
        top: 198px;
        /* padding: .4em 0em; */
        margin: 0 auto;   
    }
    #toptextHolder h1{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.6em;
            font-weight: 700;
            letter-spacing: .05em;
            line-height: 2.2em;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            animation: 4s homeslide-up;
            margin: 0%;
    }
    #toptextHolder h2{
        font-family: 'Ubuntu', sans-serif;
        font-size: .9em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        text-align: center;
        color: $white;
        animation: 4s homeslide-up;
        margin: 0%;
        white-space:nowrap;
        overflow:hidden;
    }

} 
   
//indexpage
#topText{
    width: 80%;
    position:relative;
    top:140px;
    left:50px;
    h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 25px;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}  
#bottomText{
    width: 75%;
    position:relative;
    top:190px;
    left:70px;
    border-top: 1px solid $lightgrey;
//    background-color: aqua;
    ul{
       li{
           display: inline;
           list-style-type: none;
           font-family: 'Ubuntu', sans-serif;
           font-size: 15px;
           color: $white;
           text-transform: uppercase;
           img{
               width:32%;
               padding: 0px 6px 0px 6px;
            }
        } 
    }
    
}
    
/* Subpages of the website info*/   
#subcontainerMain{
    width:100%;
    min-height: 100%;
    padding: 0em;    
    background-image: url("../img/light.jpeg");
    background-position: center ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
    #container{
        width:100%;
        margin: 0 auto;
        background-color: aqua;
    }
    .rows,#row{
        position: relative;
        left: 0%;
        background-color: brown;
        height: auto;
        display: flex;
        flex-flow: row wrap;
    }
    #rightinfoPic, #rightinfoPicTwo{
        width: 100%;
        height: 300px;
        background-image: url("../img/womendesktop.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-order: 1;
        order: 1;
    }
    #rightinfoPicTwo{
        background-image: url("../img/startup.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;     
    }
    #leftinfoWords{
        width: 100%;
        height: 300px;
        margin-top: -20px;
        background-color: $white;
        color:$black;
        padding: 15px 22px 0px 33px;
        -webkit-order: 2;
        order: 2;
        h1{
            font-family: 'Ubuntu', sans-serif;
            font-size: 2em;
            font-weight: 700;
            letter-spacing: .05em;
            text-transform: uppercase;
            animation-duration: 3s;
            animation-name: slideup;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1em;
            line-height: 1.64em;
            letter-spacing: .025em;
            animation-duration: 3s;
            animation-name: slideup;
        }
    }     
    #leftinfoPic{
        width: 100%;
        height: 300px;
        background-image: url("../img/working.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-order: 3;
        order: 3;
    }
    #rightinfoWords{
        width: 100%;
        height: 300px;
        margin-top: -20px;
        background-color: $white;
        color:$black;
        padding: 15px 22px 0px 33px;
        -webkit-order: 4;
        order: 4;
        h1{
            font-family: 'Ubuntu', sans-serif;
            font-size: 2em;
            font-weight: 700;
            letter-spacing: .05em;
            text-transform: uppercase;
            animation-duration: 3s;
            animation-name: slideup;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1em;
            line-height: 1.64em;
            letter-spacing: .025em;
            animation-duration: 3s;
            animation-name: slideup;
        }
    }
#blacksectionOne,#blacksectionTwo{
    width: 100%;
    height: 300px;
    background-color: $black;
    margin-top: -20px;
    padding: 45px 22px 10px 33px;
    color: $white;
}
#blacksectionTwo{
    height: 700px;
}
.blktopblockA{
    h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $white;
        padding: 0px 0px 33px 0px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $white;
    }        
}
.blktopblockB{
    display: none;
}     
#blkbottomTwoA{
    width: 100%;
    height:auto;
    padding: 45px 22px 10px 0px;
    color: $white;
    h2{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $white;
        padding: 0px 0px 33px 0px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $white;
    }        
}     
#blkbottomTwoB{
    width: 100%;
    height:auto;
    padding: 45px 22px 10px 0px;
    color: $white;
    h2{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $white;
        padding: 0px 0px 33px 0px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $white;
    }        
}
          
}
/* End of infopage */  

/* servicepage */ 
#whiteSection{
    width: 100%;
    height:540px;
    background-color: $white;
    padding: 45px 22px 15px 33px;
}
.blockrow{
    position: relative;
    left: 0%;
    background-color: brown;
    height: auto;
}    
.block{
    h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $black;
        padding: 30px 0px 33px 10px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $black;
        animation-duration: 2s;
        animation-name: slideup;
    } 
}    
#nextSection{
    width: 100%;
    height:auto;
    background-image: url("../img/street.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 0px 53px 0px;
    margin-top: -20px;
    margin-bottom: -10px;
}
#bigGrid{
    width: 300px;
    height:auto;
    padding: 4px 0px 13px 14px;
    background-color: $black;
    margin: 0 auto;
    h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $white;
        padding: 30px 0px 33px 10px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $white;
    } 
}    

}//end of media query 










// mobile phone 6
@media screen and (min-width: $tablet-small) {
#wrapper{
   height: 634px;
}
.mainView{
    width:100%;
    min-height: 100%;
    top:0;
    left:0;
}
#containerMain{
    #toptextHolder h1{
        font-size: 2em;
        color:red;
    }
    #toptextHolder h2{
        font-size: 1.2em;
        color:aquamarine;
    }
}

/* Subpages of the website */   
#subcontainerMain{
    #container{
        width:100%;
        margin: 0 auto;
        background-color: aqua;
    }
    .rows,#row{
        position: relative;
        left: 0%;
        background-color: brown;
        height: auto;
        display: flex;
        flex-flow: row wrap;
    }
    #row{
        height: auto;
    }
    #rightinfoPic, #rightinfoPicTwo{
        width: 100%;
        height: 300px;
        background-image: url("../img/womendesktop.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #rightinfoPicTwo{
        background-image: url("../img/startup.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;     
    }
    #leftinfoWords{
        width: 100%;
        height: 300px;
        margin-top: -20px;
        background-color: $white;
        color:$black;
        padding: 15px 22px 0px 33px;
        h1{
            font-family: 'Ubuntu', sans-serif;
            font-size: 2em;
            font-weight: 700;
            letter-spacing: .05em;
            text-transform: uppercase;
            animation-duration: 3s;
            animation-name: slideup;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1em;
            line-height: 1.64em;
            letter-spacing: .025em;
            animation-duration: 3s;
            animation-name: slideup;
        }
    }     
    #leftinfoPic{
        width: 100%;
        height: 300px;
        background-image: url("../img/working.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #rightinfoWords{
        width: 100%;
        height: 300px;
        margin-top: -20px;
        background-color: $white;
        color:$black;
        padding: 15px 22px 0px 33px;
        h1{
            font-family: 'Ubuntu', sans-serif;
            font-size: 2em;
            font-weight: 700;
            letter-spacing: .05em;
            text-transform: uppercase;
            animation-duration: 3s;
            animation-name: slideup;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1em;
            line-height: 1.64em;
            letter-spacing: .025em;
            animation-duration: 3s;
            animation-name: slideup;
        }
    }
#blacksectionOne,#blacksectionTwo{
    width: 100%;
    height: 300px;
    background-color: $black;
    margin-top: -20px;
    padding: 45px 22px 10px 33px;
    color: $white;
}
#blacksectionTwo{
    height: 700px;
}
.blktopblockA{
    h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $white;
        padding: 0px 0px 33px 0px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $white;
    }        
}
.blktopblockB{
    display: none;
}     
#blkbottomTwoA{
    width: 100%;
    height:auto;
    padding: 45px 22px 10px 0px;
    color: $white;
    h2{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $white;
        padding: 0px 0px 33px 0px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $white;
    }        
}     
#blkbottomTwoB{
    width: 100%;
    height:auto;
    padding: 45px 22px 10px 0px;
    color: $white;
    h2{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $white;
        padding: 0px 0px 33px 0px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $white;
    }        
}
          
}
/* End of infopage */     
    
/* servicepage */ 
#whiteSection{
   
}
.blockrow{
    position: relative;
    left: 0%;
    width:100%;
    background-color: brown;
    height: auto;
}    
.block{
    h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $black;
        padding: 30px 0px 33px 10px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $black;
        animation-duration: 2s;
        animation-name: slideup;
    } 
}    
#nextSection{
    width: 100%;
    height:auto;
    background-image: url("../img/street.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 0px 53px 0px;
    margin-top: -20px;
    margin-bottom: -10px;
}
#bigGrid{
    width: 300px;
    height:auto;
    padding: 4px 0px 13px 14px;
    background-color: $black;
    margin: 0 auto;
    h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $white;
        padding: 30px 0px 33px 10px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.64em;
        letter-spacing: .025em;
        color: $white;
    } 
}      
    
}//end of media query 


//tablet
@media screen and (min-width: $tablet-large) {
#wrapper{
   height: 800px;
}
#sideView, #nav-trigger, label[for="nav-trigger"]{
    display: none;
}
#navigation{
    list-style: none;
    background: #111;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: #000;
    background-color: $white;
    display:block;
    float:left;
    padding: 20px 20px;
    .navHolder{
        width: 100%;
        height: auto;
        background-color: $white;
        #logoHolder{
            width: 100%;
            height: auto;
            padding: 18px 0px;
        }
        #navi{
            width: 100%;
            list-style: none;
            padding: 0px 0px 0px 0px;
            text-align: center;
            li a{
                font-family: 'Ubuntu', sans-serif;
                text-transform: uppercase;
                padding: 10px 0px;
                line-height: 49px;
                color: $black;
                font-size: 13px;
                letter-spacing: 0.02em;
                font-weight: bold;
                text-align: center;
                   
            }
            li a:hover{
                text-decoration: none;
                background-color: #AD310B;
                -webkit-transition: background-color 1000ms linear;
                -moz-transition: background-color 1000ms linear;
                -o-transition: background-color 1000ms linear;
                -ms-transition: background-color 1000ms linear;
                transition: background-color 1000ms linear;
            }
        }
    }
}// end of Nav 
.logoTitle h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        text-align: center;
        color:$black;
        text-decoration: none;
        
}    
.logoTitle h1:hover{
        font-family: 'Ubuntu', sans-serif;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
}

#social{
    height: auto;
    width:100%;
    list-style: none;
    display: inline-block;
    padding: 0px 0px 0px 14px;
    li{
        float: left;
        li a{
            display: inline-block;
            padding: 14px 16px;
            text-decoration: none;
        }
    }
    img{
        height: 24px;
        padding:5px 4px;
    }
}//end of full navigation section
    
#containerMain{
    #toptextHolder h1{
        font-size: 2.7em;
        color:orange;
    }
    #toptextHolder h2{
        font-size: 1.5em;
        color:greenyellow;
    }
}

/* Subpages of the website info*/   
#subcontainerMain{
    #container{
    }
    .rows,#row{
        left: 20%;
        width:80%;
        height: 516px;
        display:block;
    }
    #row{
        height: 316px;
    }
    #rightinfoPic, #rightinfoPicTwo{
        width: 50%;
        height: 516px;
        float:left;
    }
    #rightinfoPicTwo{
            
    }
    #leftinfoWords{
        width: 50%;
        height: 516px;
        float:right;
        margin-top: 0px;
        background-color: $white;
        color:$black;
        padding: 95px 22px 0px 33px;
        h1{
            font-family: 'Ubuntu', sans-serif;
            font-size: 2em;
            font-weight: 700;
            letter-spacing: .05em;
            text-transform: uppercase;
            animation-duration: 3s;
            animation-name: slideup;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1em;
            line-height: 1.64em;
            letter-spacing: .025em;
            animation-duration: 3s;
            animation-name: slideup;
        }
    }     
    #leftinfoPic{
        width: 50%;
        height: 516px;
        float:right;
    }
    #rightinfoWords{
        width: 50%;
        height: 516px;
        float:left;
        margin-top: 0px;
        background-color: $white;
        color:$black;
        padding: 95px 22px 0px 33px;
        h1{
            font-family: 'Ubuntu', sans-serif;
            font-size: 2em;
            font-weight: 700;
            letter-spacing: .05em;
            text-transform: uppercase;
            animation-duration: 3s;
            animation-name: slideup;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1em;
            line-height: 1.64em;
            letter-spacing: .025em;
            animation-duration: 3s;
            animation-name: slideup;
        }
    }
    #blacksectionOne,#blacksectionTwo{
        width: 100%;
        height: 300px;
        background-color: $black;
        margin-top: -20px;
        padding: 45px 22px 10px 33px;
        color: $white;
    }
    #blacksectionTwo{
        height: 400px;
    }
    .blktopblockA{
        h1{
            font-family: 'Ubuntu', sans-serif;
            font-size: 2em;
            font-weight: 700;
            letter-spacing: .05em;
            text-transform: uppercase;
            color: $white;
            padding: 0px 0px 33px 0px;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1em;
            font-weight: 300;
            line-height: 1.64em;
            letter-spacing: .025em;
            color: $white;
        }        
    }
    .blktopblockB{
        display: none;
    }     
    #blkbottomTwoA{
        width: 50%;
        height:auto;
        float: left;
        padding: 45px 22px 10px 0px;
        color: $white;
        h2{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.7em;
            font-weight: 700;
            letter-spacing: .05em;
            text-transform: uppercase;
            color: $white;
            padding: 0px 0px 33px 0px;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1em;
            font-weight: 300;
            line-height: 1.64em;
            letter-spacing: .025em;
            color: $white;
        }        
    }     
    #blkbottomTwoB{
        width: 50%;
        height:auto;
        float: right;
        padding: 45px 22px 10px 0px;
        color: $white;
        h2{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.7em;
            font-weight: 700;
            letter-spacing: .05em;
            text-transform: uppercase;
            color: $white;
            padding: 0px 0px 33px 0px;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 1em;
            font-weight: 300;
            line-height: 1.64em;
            letter-spacing: .025em;
            color: $white;
        }        
    }
          
}
/* End of infopage */
    
#whiteSection{
   
}
.blockrow{
    position: relative;
    left: 20%;
    width:80%;
    background-color: brown;
    height: auto;
}     
}//end of media query 





// Desktop
@media screen and (min-width: $screen-small) {
#containerMain{
    #toptextHolder h1{
        font-size: 3.2em;
        color:whitesmoke;
    }
    #toptextHolder h2{
        font-size: 1.9em;
        color:floralwhite;
    }
}
#social{
    li{
        li a{
          }
    }
    img{
        padding:5px 8px;
    }
}//end of full navigation section    
}//end of media query 